@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

@font-face {
    font-family: 'netmarbleM';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.1/netmarbleM.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans KR', sans-serif;
    font-style: normal;
}

ol,
ul,
li {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

html,
body {
    height: 100%;
    min-height: 100%;
}

div {
    display: block;
}

input {
    text-rendering: auto;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
}

.main_content div {
    box-sizing: border-box;
}

.contents_box1 {
    height: 75px;
    display: flex;
    font-size: 14px;
    letter-spacing: -.5px;
    font-weight: 700;
    padding: 8px 0 33px 1px;
    box-sizing: border-box;
    border-bottom: 3px solid black;
}

.time {
    padding: 20px 0 20px 0;
}

.contents_category {
    display: flex;
    justify-content: space-between;
}

.contents_category li {
    width: 200px;
    padding-top: 55px;
    border: 1px solid #cccccc;
    color: #11b082
}

.contents_category a {
    display: flex;
    justify-content: center;
    color: black;
    padding-bottom: 8px;
}

.contents_category li a:hover,
.contents_category li:hover {
    background-color: #e2e2e2;
    font-weight: 700;
    color: #5dab99;
}